/** @format */

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
#slideCanvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 400px;
	background-color: #1765b2;
	padding: 20px;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

.blinking-text {
	animation: blink 1.5s infinite;
}
p {
	padding-left: 1rem;
	padding-bottom: 0.01rem;
}
